[submodule "Applied_Deep_Learning/labsheets"]
	path = Applied_Deep_Learning/labsheets
	url = git@github.com:COMSM0018-Applied-Deep-Learning/labsheets.git
[submodule "Systems_Security/labs"]
	path = Systems_Security/labs
	url = https://github.com/bris-sys-sec/labs.git
[submodule "Robotic_Systems/robotExperiment"]
	path = Robotic_Systems/robotExperiment
	url = git@github.com:cm16161/robotExperiment.git
